h1{ 
	margin:0 auto;
	display:block;
	width:10em;
}
.Items{ 
	margin:0 auto;
	display:block;
	width:40em;
	margin-top:4em;
	margin-bottom:2em;
}
.check{ 
	margin:0 auto;
	display:block;
	width:60em;
	margin-top:4em;
	margin-bottom:2em;
}
input[type="submit"]{
    margin-right:2em;
    float:right;
    clear:both;
    margin-top:1.5em;
    font-weight:bold;
    border-radius:1px;
    margin-bottom:2em;
}
label{
	margin:1em 1em;
	font-weight:bold;
}
.newitems{
	float:left;
	width:8em;
	font-weight:bold;
}
button{
	margin-left:1em;
	font-weight:bold;
	border-radius:1px;
}
.rows{margin:1em 1em;}
.sales{float:right;
       margin-right:3em;
}
*{
	outline:0px solid black;
}